p
    margin: 0
    font-size: 12px
/************* regstart *************/
.regpage
    width:100%
    font-family: "Jua"
    padding:25px
    background: #E1DAD5
    height: 100vh

.regpage-wrap
    display: flex
    flex-direction: column
    align-items: center

.main-title
    font-size: 30px

.grey-btn
    width: 230px
    height: 60px
    border: 1px solid #BFBFBF
    background: rgba(0,0,0,0)
    font-size: 17px
    line-height: 26px
    color: #767676
    font-family: "Jua"

.brown-btn
    width: 230px
    height: 60px
    background: #786052
    font-size: 17px
    line-height: 26px
    color: #FFFFFF
    border: none
    font-family: "Jua"


.regpage-bottom
    width:100%
    font-family: "Jua"
    padding:25px
    background: #FDFAF5

.bottom-wrap
    display: flex
    flex-direction: column
    align-items: center


/************* testlist *************/

.main-testlist
    height: 100vh
    width: 18rem
    cursor: pointer
    img
        width: 100%
    h2
        text-align: center
        font-size: 20px
        background: #FFFFFF


/************* regmain *************/

.regmain
    width:100%
    font-family: "Jua"
    padding:25px
    background: #F6F5F4
    input
        width: 250px
        height: 45px
        background: #FFFFFF
        border: 1px solid #CDCCCA
    .input-plus
        width: 250px
        height: 45px
        background: #CDCCCA
        text-align: center
        padding-top: 10px
        cursor: pointer
    .prev-box
        width: 290px
        background: #FFFFFF
        border: 1px solid #CDCCCA
        padding: 20px
        .box-wrap
            display: flex
            flex-direction: column
            align-items: center
            img
                max-width: 100px
            .brown-btn
                width: 30%
                height: 30px
                background: #CDCCCA
                font-size: 14px
                line-height: 26px
                color: #FFFFFF
                border: none
    .warn
        font-size: 12px
        line-height: 21px
        color: #786052
        margin: 0
    .btn-group
        width: 290px
        button
            width: 100%
            &:nth-child(1)
                height: 40px
                border: 1px solid #BFBFBF
                background: rgba(0,0,0,0)
                font-size: 17px
                line-height: 26px
                color: #767676
                font-family: "Jua"
            &:nth-child(2)
                height: 40px
                background: #786052
                font-size: 17px
                line-height: 26px
                color: #FFFFFF
                border: none

/************* regtest *************/
.regtest
    width:100%
    font-family: "Jua"
    padding:25px
    background: #F6F5F4
    .regtest-wrap
        display: flex
        flex-direction: column
        align-items: center



/************* regmodals *************/
.pointer
    cursor: pointer

.regmodals
    position: absolute
    background: #FFFFFF
    top: 135px
    .regmodals-wrap
        display: flex
        flex-direction: column
        align-items: center
        padding: 30px 40px 30px 40px
        .regmodals-inputs
            display: flex
            flex-direction: column
        .modal-close
            display: flex
            justify-content: flex-end
            color: #969696
        textarea
            width: 300px
            padding: 15px
            background: #FFFFFF
            border: 1px solid #969696
        input
            width: 300px
            height: 45px
            padding: 15px
            background: #FFFFFF
            border: 1px solid #969696
            &:nth-child(1)
                margin-top: 10px
                margin-bottom: 10px
        .example-card
            width: 300px
            border: 1px solid #969696
            padding: 30px
        .card-wrap
            display: flex
            flex-direction: column
            .btn-wrap
                display: flex
                justify-content: center
.brown-btn-y
    width: 100px
    padding: 13px
    background: #786052
    font-size: 12px
    line-height: 26px
    color: #FFFFFF
    border: none
    font-family: "Jua"


/************* RegTestInput *************/
.testInput-group
    display: flex
    flex-direction: column
    align-items: center
    .group-wrap
        display: flex
        padding-top: 40px
        border-top: 1px solid #CCCCCC
        .group1
            display: flex
            flex-direction: column
        .group2
            display: flex
            flex-direction: column
            margin-left: 10px
        textarea
            padding: 10px 18px 10px 18px
        input
            padding: 10px 18px 10px 18px
    .btn-group
        width: 290px
        button
            width: 100%
            &:nth-child(1)
                height: 40px
                border: 1px solid #BFBFBF
                background: rgba(0,0,0,0)
                font-size: 17px
                line-height: 26px
                color: #767676
                font-family: "Jua"
            &:nth-child(2)
                height: 40px
                background: #786052
                font-size: 17px
                line-height: 26px
                color: #FFFFFF
                border: none


@media screen and (max-width: 550px)
    .group-wrap
        display: flex
        flex-direction: column
        .group2
            margin-top: 30px
            margin-left: 0px !important