/************* regstart *************/
.regpage
    width:100%
    font-family: "Jua"
    padding:25px
    background: #E1DAD5

.regpage-wrap
    display: flex
    flex-direction: column
    align-items: center

.main-title
    font-size: 30px

.grey-btn
    width: 230px
    height: 60px
    border: 1px solid #BFBFBF
    background: rgba(0,0,0,0)
    font-size: 17px
    line-height: 26px
    color: #767676
    font-family: "Jua"

.brown-btn
    width: 230px
    height: 60px
    background: #786052
    font-size: 17px
    line-height: 26px
    color: #FFFFFF
    border: none
    font-family: "Jua"


.regpage-bottom
    width:100%
    font-family: "Jua"
    padding:25px
    background: #FDFAF5

.bottom-wrap
    display: flex
    flex-direction: column
    align-items: center


/************* testlist *************/

.main-testlist
    height: 100vh
    width: 18rem
    cursor: pointer
    img
        width: 100%
    h2
        text-align: center
        font-size: 20px
        background: #FFFFFF


/************* regmain *************/

.regmain
    height:100vh
    width:100%
    font-family: "Jua"
    padding:25px
    background: #F6F5F4
    input
        width: 250px
        height: 45px
        background: #FFFFFF
        border: 1px solid #CDCCCA
    .input-plus
        width: 250px
        height: 45px
        background: #CDCCCA
        text-align: center
        padding-top: 10px
    .prev-box
        width: 290px
        background: #FFFFFF
        border: 1px solid #CDCCCA
        padding: 20px
        .box-wrap
            display: flex
            flex-direction: column
            align-items: center
            img
                max-width: 100px
            .brown-btn
                width: 30%
                height: 30px
                background: #CDCCCA
                font-size: 14px
                line-height: 26px
                color: #FFFFFF
                border: none
    .warn
        font-size: 12px
        line-height: 21px
        color: #786052
        margin: 0
    .btn-group
        width: 290px
        button
            width: 100%
            &:nth-child(1)
                height: 40px
                border: 1px solid #BFBFBF
                background: rgba(0,0,0,0)
                font-size: 17px
                line-height: 26px
                color: #767676
                font-family: "Jua"
            &:nth-child(2)
                height: 40px
                background: #786052
                font-size: 17px
                line-height: 26px
                color: #FFFFFF
                border: none