p
    margin: 0
    font-size: 14px
    font-family: "Jua"

.pointer
    cursor: pointer

.auth
    width:100%
    font-family: "Jua"
    padding:25px
    height: 75vh
    background: #F7F3F0
    .auth-wrap
        display: flex
        flex-direction: column
        align-items: center